h3 {
  margin-top: 0;
  font-size: 20px;
}

h4 {
  margin-top: 0;
  font-size: 18px;
}

h5 {
  margin-top: 5px;
}

.cards-container {
  .card-header {
    display: flex;
    background-color: #f3f3f3;

    .heading {
      flex: 50px
    }

    .tag {
      flex: 50px
    }
  }

  .card-block {
    .currency {
      font-size: 20px; text-align: center;
    }

    .card-media-description {
      .card-media-text {
        font-size: 12px; font-weight: 600;
      }
    }
  }
}
