<clr-main-container>
  <app-filter-header
    [status]="status"
    (applyFilter)="onApplyFiltering($event)"
    (resetFilter)="onResetFiltering()"></app-filter-header>

  <ng-container *ngIf="vm$ | async as vm">
    @if ((isMobileBreakpoint$ | async) === false) {
      <clr-datagrid [clrDgLoading]="loading$ | async">
        <clr-dg-column *ngFor="let head of headers">{{ head }}</clr-dg-column>

        <clr-dg-row *ngFor="let item of vm.items">
          <clr-dg-cell>{{ item.id }}</clr-dg-cell>
          <clr-dg-cell
            ><div
              class="label"
              [ngClass]="[
                item.status === 'COMPLETED' || item.status === 'SETTLED'
                  ? 'label-success'
                  : status === 'CREATED'
                    ? 'label-info'
                    : status === 'FAILED'
                      ? 'label-danger'
                      : 'label-warning'
              ]">
              <div class="tag">
                {{ item.status }}
              </div>
            </div></clr-dg-cell
          >
          <clr-dg-cell>{{ item.amount | currency: item.currency }}</clr-dg-cell>
          <clr-dg-cell>{{ item.currency }}</clr-dg-cell>
          <clr-dg-cell>{{ item.description }}</clr-dg-cell>
          <clr-dg-cell>{{ item.createdAt | date }}</clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination
            #pagination
            [clrDgPageSize]="5"
            [clrDgTotalItems]="vm.pagination.totalNumberOfItems"
            [(clrDgPage)]="vm.pagination.currentPage"
            (clrDgPageChange)="applyPaging($event, vm)">
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} transactions
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    } @else {
      <app-payment-cards
        [infinityItems]="vm.infinityItems"
        (infiniteScroll)="onInfinityScrollFired(vm)"></app-payment-cards>
    }
  </ng-container>
</clr-main-container>
